{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["babel"],
  "extends": ["airbnb/base"],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "indent": [2, "tab", {"SwitchCase": 1}],
    "comma-dangle": 0,
    "no-tabs": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        extensions: [
          ".js"
        ],
        moduleDirectory: [
          "node_modules"
        ]
      },
      "webpack"
    }
  }
}
